[user]
	name = Tom Wolfe
	email = {{if eq .machine "work"}}tom.wolfe@disastercare.co.uk{{else}}trwolfe13@gmail.com{{end}}
[init]
	defaultBranch = main
[core]
	autocrlf = input
[push]
	autoSetupRemote = true
