# =========================================================
# All machines covered by Homebrew
# =========================================================

# Utilities
cask "1password"
cask "1password-cli"
cask "brave-browser"
cask "tailscale-app"
cask "vorssaint"

# Developer Tools
brew "chezmoi"
cask "claude"
cask "claude-code@latest"
cask "dotnet-sdk"
brew "gh"
brew "git"
brew "jq"
brew "mas"
brew "mkcert"
brew "nvm"
brew "opentofu"
brew "rclone"
brew "restic"
brew "shellcheck"
brew "sqlite"
cask "visual-studio-code"
brew "yq"

# VS Code Extensions
vscode "anthropic.claude-code"
vscode "ecmel.vscode-html-css"
vscode "editorconfig.editorconfig"
vscode "matthewpi.caddyfile-support"
vscode "docker.docker"
vscode "github.vscode-github-actions"
vscode "github.vscode-pull-request-github"
vscode "mikestead.dotenv"
vscode "ms-azuretools.vscode-containers"
vscode "ms-dotnettools.vscode-dotnet-runtime"
vscode "streetsidesoftware.code-spell-checker"
vscode "vscode-icons-team.vscode-icons"
vscode "yzhang.markdown-all-in-one"

{{ if eq .profile "macbook" -}}
# =========================================================
# macbook
# =========================================================

# Drivers
cask "displaylink"
cask "logi-options+"

# Utilities
cask "airbuddy"
cask "daisydisk"
cask "proton-mail"
mas  "Paste", id: 967805235
cask "nordvpn"
cask "raspberry-pi-imager"

# Productivity
cask "chatgpt"
cask "obsidian"
mas  "Things", id: 904280696

# Media
cask "spotify"
mas  "forScore", id: 363738376
cask "affinity"

# Social
cask "discord"
mas  "WhatsApp", id: 310633997

# Developer Tools
brew "cloc"
cask "docker-desktop"
cask "jetbrains-toolbox"
brew "ollama"
{{ end -}}

{{ if eq .profile "macstudio" -}}
# =========================================================
# macstudio
# =========================================================

# Drivers
cask "logi-options+"

# Utilities
cask "airbuddy"
cask "daisydisk"
cask "proton-mail"
mas  "Paste", id: 967805235
cask "nordvpn"
cask "raspberry-pi-imager"

# Productivity
cask "chatgpt"
cask "obsidian"
mas  "Things", id: 904280696

# Media
cask "spotify"
mas  "forScore", id: 363738376
cask "affinity"

# Social
cask "discord"
cask "slack"
mas  "WhatsApp", id: 310633997

# Developer Tools
brew "cloc"
cask "docker-desktop"
cask "jetbrains-toolbox"
brew "ollama"

# Node
brew "forgejo-runner"
brew "henrygd/beszel/beszel-agent", restart_service: :changed, trusted: true
{{ end -}}

{{ if eq .profile "work-macbook" -}}
# =========================================================
# work-macbook
# =========================================================

# Drivers
cask "displaylink"
cask "logi-options+"

# Utilities
cask "airbuddy"

# Productivity
cask "chatgpt"
cask "obsidian"
mas  "Microsoft Excel", id: 462058435
mas  "Microsoft Word", id: 462054704
mas  "OneDrive", id: 823766827

# Media
cask "spotify"

# Social
cask "discord"
cask "slack"

# Developer Tools
brew "cloc"
cask "docker-desktop"
cask "jetbrains-toolbox"
{{ end -}}

{{ if eq .profile "macmini-node" -}}
# =========================================================
# macmini-node
# =========================================================

# Mine
cask "daisydisk"
cask "proton-mail"
mas  "Paste", id: 967805235

# Server
mas  "AutoMounter", id: 1160435653
brew "forgejo-runner"
brew "henrygd/beszel/beszel-agent", restart_service: :changed, trusted: true
brew "lazydocker"
npm  "obsidian-headless"
brew "ollama"
# Deliberately NOT docker, because updating reboots Docker.
{{ end -}}
