{{ if has .profile (list "macbook" "macstudio") -}}
[user]
	name = Tom Wolfe
	email = tom@twolfe.dev
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIH5fg4Y79OJ/zq4eIxkY5g5lPIEimcT1veW2ERgZYslZ
{{- end }}

{{- if eq .profile "work-macbook" }}
[user]
	name = Tom Wolfe
	email = tom.wolfe@disastercare.co.uk
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIH5fg4Y79OJ/zq4eIxkY5g5lPIEimcT1veW2ERgZYslZ
{{- end }}

{{- if has .profile (list "macmini-node" "pi-node") }}
[user]
	name = Tom Wolfe
	email = tom@twolfe.dev
{{- end }}

{{ if has .profile (list "macbook" "macstudio" "work-macbook") -}}
# Signing needs 1Password approval dialogs, so GUI devices only.
[gpg]
	format = ssh

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[commit]
	gpgsign = true
{{ end -}}

[init]
	defaultBranch = main

[core]
	autocrlf = input

[fetch]
	prune = true

[push]
	autoSetupRemote = true

[url "git@github.com:"]
	insteadOf = https://github.com/

[alias]
	co = checkout
	nb = checkout -b 
	cp = cherry-pick
	br = branch
	st = status -sb
	lg = log --oneline --graph --decorate
	last = log -1 --stat
	amend = commit --amend --no-edit
	unstage = restore --staged
	undo = reset --soft HEAD~1
	pushf = push --force-with-lease
	main = !git switch main && git pull --prune
	sweep = !git fetch --prune && git branch -vv | awk '/: gone]/ {print $1}' | xargs git branch -D
	catchup = !git fetch origin && git merge origin/main
	aliases = config --get-regexp ^alias\\.
  amendf = !git amend && git pushf