{{- /* This node's restic SFTP key. */ -}}
{{ if eq .profile "pi-node" -}}
{{ onepasswordRead (printf "op://Wolfe.Lab/restic-sftp-%s/private key?ssh-format=openssh" (index .profiles .profile).node) }}
{{ end -}}
