[
  {
    "targets": ["localhost"],
    "labels": {
      "__path__": "{{ .chezmoi.homeDir }}/Library/Logs/forgejo-runner.log",
      "service_name": "forgejo-runner",
      "lab_area": "platform",
      "lab_service": "forgejo",
      "lab_component": "runners"
    }
  }
]
